
.d3 form {
    max-height: 71px;
    padding: 5px 0;
    margin: 15px 0px;

}
.d3 input, .d3 button {
  border: none;
  outline: none;
  background: transparent;
}
.d3 input {
   width: 350px;
   height: 42px;
   padding-left: 15px;
}
.d3 button {
  height: 42px;
  width: 42px;
  margin-right:10px;
  top: 0;
  right: 0;
  cursor: pointer;
}
.d3 button:before {
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}