{% extends 'base.html'%}
{% load static %}
{% block header%}
    <title>Кабинет</title>

{% endblock %}

{% block content %}

<div class="back" style="margin-left: 45px">
        <div class="base" style="margin-right:100px;margin-left:70px;padding:5%;border-radius:10px;">

    <p>Сведения о пользователе:</p>
        <ul style="list-style-type: none;padding:0;margin:0">
            <li>Имя и Фамилия: {{full_name}}</li>
            <li>Никнейм: {{username}}</li>
            <li>Даты регестрации: {{date}}</li>
            <li>Email: {{email}}</li>
            <li>Пол: {{sex}}</li>
            <li>Фото профиля: <img src="{% static avatar %}" height='20px' alt=""></li>
            <li>Специальность: {{specialization}}</li>
            <li>Возраст: {{age}} лет</li>
            <li>Статус: {{status}}</li>
        </ul>

    <p style="margin-top:10px">Чтобы изменить информация на аккуанте нажмите <a style="text-decoration:none;color:#757575" href="./cabinet/update">сюда</a></p>
    <p><a style="text-decoration:none;color:#757575" href="./password-change">Сброс пароля</a></p>
    <a style="text-decoration:none;color:#757575" href="../logout">Выход</a>
        </div>
</div>
{% endblock %}
